body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    min-width: 400px;
    background: #0c192c;
}
#input-el{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
}
button{
    font-weight: bold;
    background: #0c192c;
    color: white;
    padding: 10px 20px;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    cursor: pointer;
}
button:hover{
    color: #0c192c;
    background-color: whitesmoke;
}
#input-el:focus{
    background: whitesmoke;
}
#dlt-btn{
    background: white;
    font-weight: bold;
    background: #ff0000;
    padding: 10px 20px;
    border: 2px solid #ff0000;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin-bottom: 10px;
}
a{
    color: #fff;
}